{% extends "layout.twig" %}
{% block title %}Log in{% endblock %}
{% block class %}login-page{% endblock %}
{% block content %}
  <h1>Log in</h1>
  {% if error %}<div class="error">{{ error }}</div>{% endif %}
  <form action="/login" method="post" autocomplete="off">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <label>Username<br><input type="text" name="username" required></label>
    <label>Password<br><input type="password" name="password" required></label>
    <button class="btn" type="submit">Log in</button>
    <p>or <a href="/register"><i>Register</i></a></p>
  </form>
{% endblock %}